

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-content {
    margin-top: 100px;
}



/* Styling buttons */

.button {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: darkslategray;
    border: none;
    padding: 7px 13px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

    .button a {
        color: white;
        font-size: .9rem;
        text-decoration: none;
    }

    .button:hover {
        background-color: slategray;
    }



/* Styling navbar */

nav {
    background-color: gray;
    padding: 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

nav a {
    font-size: .9rem;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 1.0);
    padding: 0 16px;
}

    nav a:hover {
        color: darkslategray;
        text-decoration: none;
    }



/* Styling Home Index */

.home-img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

#home-h1, #home-h4 {
    color: steelblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* Styling Reviews Index page */

.rev-head {
    display: flex;
    justify-content: space-between;
}

#rev-h2 {
    color: lightseagreen;
    margin: 4px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#rev-h4 {
    color: darkslategray;
    padding: 2px 16px;
    margin-top: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#rev-card-captions, #det-card-captions {
    background-color: lightseagreen;
    padding: 0;
}



/* styling Reviews Details */
.det-cards {
    padding: 0;
}

#det-h2, #det-h4 {
    margin: 8px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#det-title {
    color: white;
    letter-spacing: 1px;
    background-color: lightseagreen;
    padding: 2px 16px;
    border-radius: 5px 5px 0 0;
}



/* Styling all cards */

.card-captions p, .card-captions h4 {
    margin: 8px 0;
}

.card-captions a, .card-captions p {
    color: white;
    font-size: .9rem;
    letter-spacing: 1px;
    text-decoration: none;
}

.card-captions a:hover {
    color: darkslategray;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
}

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* Add some padding inside the card container */
.card-captions {
    padding: 2px 16px;
    border-radius: 0 0 5px 5px;
}



/* Styling Reviews Index cards */

#rev-card {
    width: 200px;
    height: auto;
}

    #rev-card p, #det-card p {
        padding: 0 16px;
    }

.rev-cards {
    display: flex;
    flex-wrap: wrap;
}