@{
    ViewBag.Title = "Home Page";
}

<!-- Customizing Navbar -->
<style type="text/css">
    body {
        margin: 0;
        font-family: Helvetica, Arial, sans-serif;
    }

    nav {
        background-color: lightsteelblue;
    }
</style>

<!-- Using rows and columns -->

<div class="row">
    <div class="col-lg">
        <h1 id="home-h1">Digital Nomads Reviews Site</h1>
        <p>In augue libero, maximus in est ut, semper commodo turpis. Maecenas non augue quis est imperdiet mollis sed ac nisl. Etiam sed dui vitae odio vulputate euismod et et metus. Nam mattis dapibus felis, et tincidunt augue varius ac. Morbi mattis justo dui, quis vehicula ante convallis eget. Maecenas vehicula ipsum non felis imperdiet, nec egestas mi maximus. In blandit, felis at efficitur pellentesque, nisl felis condimentum magna, sed porttitor est nisi vitae sapien.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="home-img" src="~/Images/barcelona.jpg" />
            <div class="details">
                <h4 id="home-h4">Barcelona</h4>
                <p>Spain</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img class="home-img" src="~/Images/buenos-aires.jpg" />
            <div class="details">
                <h4 id="home-h4">Buenos Aires</h4>
                <p>Argentina, South America</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img class="home-img" src="~/Images/cape-town.jpg" />
            <div class="details">
                <h4 id="home-h4">Cape Town</h4>
                <p>South Africa</p>
            </div>
        </div>
    </div>

</div>